html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 1366px;
}

// iconfont
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// Reset element style
.el-dialog {
  border-radius: 10px !important;
}

.el-card {
  margin-top: 14px;
  border-radius: 10px !important;
}

// .el-menu--popup,
.el-submenu .el-menu-item,
.el-submenu__title,
.el-menu-item {
  border-radius: 10px !important;
}

// cascader scroll
.el-cascader-panel .el-scrollbar__wrap {
  max-height: 200px;
  min-height: 100px;
  overflow-x: hidden;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
