html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

// iconfont
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// dialog
.el-dialog {
  border-radius: 10px !important;
}
